.sub-header{
    font-family: Roboto;
    font-size: large;
    padding-left: 2%;
    height: 20px;
    width: 100%;
    background: linear-gradient(to left, white 0%, #4dffc3 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}